tr
	th: a(href="/bsProduct/"+macfir.pdfir._id) #{macfir.pdfir.code}
	th: a(href="/bsFder/"+machin.fder._id) #{machin.fder.nome}
	th.bg-light 半成品
	each size in machin.sizes
		-let less = '';
		-let quot = '';
		each macsez in macfir.macsezs
			if macsez.size == size
				- quot = parseInt(macsez.quot);
				- less = parseInt(macsez.quot) - parseInt(macsez.ship);
				- break;
		td
			if less == 0
				-a;
				span #{quot}
			else
				span.text-info #{quot}
	td.bg-secondary
	th: a(href="/bsProduct/"+macfir.pdfir._id) #{macfir.pdfir.code}
	th: a(href="/bsFder/"+machin.fder._id) #{machin.fder.nome}
	th.bg-light 半成品
	each size in machin.sizes
		-let less = '';
		-let ship = '';
		each macsez in macfir.macsezs
			if macsez.size == size
				- ship = parseInt(macsez.ship);
				- less = parseInt(macsez.quot) - ship;
				- break;
		td 
			if less == 0
				-a;
				span #{ship}
			else
				span.text-info #{ship}