each machin in machins
	- let txtSatus = "text-secondary";

	each macfir in machin.macfirs
		-a;
		table.table.text-center
			tr(class=txtSatus)
				th(width="7%") #{moment(machin.ctAt).format('MM/DD/YYYY')}
				th(width="8%") #{moment(machin.fnAt).format('MM/DD/YYYY')}
				th(width="10%")
				th(colspan=machin.sizes.length)
					a.btn.btn-link(href="/bsMachin/"+machin._id) #{machin.code}
				th(width="2%")
				th(width="7%") #{moment(machin.ctAt).format('MM/DD/YYYY')}
				th(width="8%") #{moment(machin.fnAt).format('MM/DD/YYYY')}
				th(width="10%")
				th(colspan=machin.sizes.length)
					form(method="post", action="/bsMacChangeSts", enctype="multipart/form-data")
						input(type="hidden", name="machinId", value=machin._id)
						input(type="hidden", name="target", value="bsMachinBack")
						input.btn.btn-danger(type="submit", value="未完成")
			tr.bg-light
				th 样品型号
				th 工厂名称
				th 颜色
				each size in machin.sizes
					-a;
					th #{Conf.sizes[size]}
				th.bg-secondary
				th 样品型号
				th 工厂名称
				th 颜色
				each size in machin.sizes
					-a;
					th #{Conf.sizes[size]}
			if macfir.pdfir.semi == 1
				-a;
				include ./list10Semi.pug
			else
				include ./list10Comp.pug