input(type="hidden", name="obj[machinId]", value=machin._id)
input(type="hidden", name="obj[macfirId]", value=macfir._id)
- let i = 0, k = 0, tot=0, ztots=new Array();
each macsec in macfir.macsecs
	- i++;
	tr
		if i==1
			-a;
			th: a(href="/bsProduct/"+macfir.pdfir._id) #{macfir.pdfir.code}
			th: a(href="/bsFder/"+machin.fder._id) #{machin.fder.nome}
		else
			th
			th
		th.bg-light #{macsec.pdsec.color}
		- let ctot = 0;
		each size in machin.sizes
			-let quot = '';
			each macthd in macsec.macthds
				if macthd.size == size
					- quot = macthd.quot;
					if isNaN(ztots[size])
						- ztots[size] = quot;
					else
						- ztots[size] += quot;
					- ctot += quot;
					- tot += quot;
					- break;
			td #{quot}
		td.text-success #{ctot}
		td.bg-secondary
		each size in machin.sizes
			-let ship = '';
			-let quot = '';
			-let macthdId = '';
			each macthd in macsec.macthds
				if macthd.size == size
					- macthdId = macthd._id;
					- ship = parseInt(macthd.ship);
					- quot = parseInt(macthd.quot);
					- break;
			td 
				if macthdId
					- k++;
					-let shiping = quot - ship;

					if shiping > 0
						-a;
						input.iptsty2.shiping(id="shiping-"+macthdId, type="number", name="obj[thds]["+k+"][shiping]", value=shiping)
						input(id="stock-"+macthdId, type="hidden", value=stock)
						input(type="hidden", name="obj[thds]["+k+"][macthdId]", value=macthdId)
					else
						span.text-info #{ship}
tr
	td(colspan=3)
	each size in machin.sizes
		-a;
		td.text-success #{ztots[size]}
	td.text-success: h4 #{tot}