.row.my-4
	.col-12.text-right
		button.btn.btn-danger#nofderBtn(type="button") <span class="oi oi-loop-circular"></span>
		button.btn.btn-info#exitfderBtn(type="button", style="display:none") <span class="oi oi-loop-circular"></span>
each machin in machins
	- let textTime="";
	if Date.now() - machin.ctAt > 3*24*60*60*1000
		-textTime="text-danger";
	- let fder = new Object(), fderTb="noFder", fderTr="bg-danger";
	- let fderDidplay="display:none";
	if machin.fder
		- fder = machin.fder;
		- fderTb = "exitFder";
		- fderTr = "";
		- fderDidplay = "";

	each macfir in machin.macfirs
		-a;
		table.table.table-bordered.text-center(class=fderTb, style=fderDidplay)
			tr(class=textTime)
				th(width="7%") 生产日期:
				th(width="8%") #{moment(machin.ctAt).format('MM/DD/YYYY')}
				th(width="10%")
				th(colspan=machin.sizes.length+1, width="30%")
					a.btn.btn-link(href="/bsMachin/"+machin._id) #{machin.code}
				th(width="2%")
				th(colspan=machin.sizes.length)
					.row
						.col-6
							button.sendBtn.btn.btn-secondary(type="button", id='sendBtn-'+machin._id) 收货
						.col-6
							form(method="post", action="/bsMacChangeSts", enctype="multipart/form-data")
								input(type="hidden", name="machinId", value=machin._id)
								input(type="hidden", name="target", value="bsMachinFinish")
								input.btn.btn-warning(type="submit", value="完成")
			tr.bg-light
				th 样品型号
				th 工厂名称
				th 颜色
				each size in machin.sizes
					-a;
					th #{Conf.sizes[size]}
				th 合计
				th.bg-secondary
				each size in machin.sizes
					-a;
					th #{Conf.sizes[size]}
			form(id="sendForm-"+machin._id, method="post", action="/bsMachinSend", enctype="multipart/form-data")
				input(type="hidden", name="obj[semi]", value=macfir.pdfir.semi)
				if macfir.pdfir.semi == 1
					-a;
					include ./list5Semi.pug
				else
					include ./list5Comp.pug

script(src="/js/bser/machin/send.js")