.row#needTinBtns
	each pdfir in products
		-a;
		.col-2: button.btn.btn-warning.btn-block.pneed(type="button", id="clk-"+pdfir._id)
			span #{pdfir.code} &nbsp; | &nbsp;  #{pdfir.canTin}/#{pdfir.needTin}
		input(type="hidden", id="colors-"+pdfir._id, value=pdfir.selColors)
form#tintNew(method="post", action="/bsTinNew", enctype="multipart/form-data")
	input#objFir(type="hidden", name="obj[pdfirId]")
	input#objTner(type="hidden", name="obj[tnerId]")
	table.table.table-border.text-center#tintProducts.my-5
		tr(class=txtSatus).bg-secondary
			th(width="20%") 样品型号
			th(width="10%") 染洗厂名称
			th
			th.changeTd
			th.changeTd
			th.changeTd
			th.changeTd
			th.changeTd
			th.changeTd
			th#changeTh
				button.btn.btn-success#submitBtn(type="button") 确认
		tr#changeElem
			td
				#pdcode
				#ajaxPdsForm.input-group
					input#ajaxPdsCode.productcode.form-control(type="number", placeholder='模特编号', autocomplete="off", aria-label="Recipient's username", aria-describedby="basic-addon2")
					.input-group-append
						button#pdcodeAjaxCancel.btn.btn-outline-secondary(type="button") X
				#prodPage
			td
				#tnerBtn
				#formTners
					input#ajaxTners.form-control(type="text", placeholder='染洗厂名称或编号', autocomplete="off")
				.catersAjax
			th 颜色
			th.changeTd XS
			th.changeTd S
			th.changeTd M
			th.changeTd L
			th.changeTd XL
			th.changeTd XXL
			th#changeSize