each tint in tints
	- let textTime="";
	if Date.now() - tint.ctAt > 3*24*60*60*1000
		-textTime="text-danger";

	each tinfir in tint.tinfirs
		-a;
		table.table.table-btinted.text-center
			tr(class=textTime)
				th(width="10%") #{moment(tint.ctAt).format('MM/DD/YYYY')}
				th(width="8%") 收货日期
				th(width="5%") 生产
				th(colspan=tint.sizes.length, width="25%")
					a.btn.btn-link(href="/bsTint/"+tint._id) #{tint.code}
				th.bg-secondary(width="2%")
				th(colspan=tint.sizes.length)
					.row
						.col-6
							button.sendBtn.btn.btn-secondary(type="button", id='sendBtn-'+tint._id) 收货
						.col-6
							form(method="post", action="/bsTinChangeSts", enctype="multipart/form-data")
								input(type="hidden", name="tintId", value=tint._id)
								input(type="hidden", name="target", value="bsTintFinish")
								input.btn.btn-warning(type="submit", value="完成")
			tr.bg-light
				th 样品型号
				th 染洗厂
				th 颜色
				each size in tint.sizes
					-a;
					th #{Conf.sizes[size]}
				th.bg-secondary
				each size in tint.sizes
					-a;
					th #{Conf.sizes[size]}
			form(id="sendForm-"+tint._id, method="post", action="/bsTintSend", enctype="multipart/form-data")
				input(type="hidden", name="obj[tintId]", value=tint._id)
				input(type="hidden", name="obj[tinfirId]", value=tinfir._id)
				- let i = 0, k = 0;
				each tinsec in tinfir.tinsecs
					- i++;
					tr
						if i==1
							-a;
							th: a(href="/bsProduct/"+tinfir.pdfir._id) #{tinfir.pdfir.code}
							th: a(href="/bsTner/"+tint.tner._id) #{tint.tner.nome}
						else
							th
							th
						th.bg-light #{tinsec.pdsec.color}
						each size in tint.sizes
							-let quot = '';
							each tinthd in tinsec.tinthds
								if tinthd.size == size
									- quot = tinthd.quot;
									- break;
							td #{quot}
						td.bg-secondary
						each size in tint.sizes
							-let ship = '';
							-let quot = '';
							-let tinthdId = '';
							each tinthd in tinsec.tinthds
								if tinthd.size == size
									- tinthdId = tinthd._id;
									- ship = parseInt(tinthd.ship);
									- quot = parseInt(tinthd.quot);
									- break;
							td 
								if tinthdId
									- k++;
									-let shiping = quot - ship;

									if shiping > 0
										-a;
										input.iptsty2.shiping(id="shiping-"+tinthdId, type="number", name="obj[thds]["+k+"][shiping]", value=shiping)
										input(id="stock-"+tinthdId, type="hidden", value=stock)
										input(type="hidden", name="obj[thds]["+k+"][tinthdId]", value=tinthdId)
									else
										span.text-info #{ship}
										//- span &nbsp; /  
										//- span.text-warning #{stock}