each tint in tints
	- let txtSatus = "text-secondary";

	each tinfir in tint.tinfirs
		-a;
		table.table.table-btinted.text-center
			tr(class=txtSatus)
				th(width="7%") 染色日期:
				th(width="8%") #{moment(tint.ctAt).format('MM/DD/YYYY')}
				th(width="10%")
				th(colspan=tint.sizes.length)
					a.btn.btn-link(href="/bsTint/"+tint._id) #{tint.code}
				th(width="2%")
				th(width="7%") 收货日期:
				th(width="8%") #{moment(tint.fnAt).format('MM/DD/YYYY')}
				th(width="10%")
				th(colspan=tint.sizes.length)
					form(method="post", action="/bsTinChangeSts", enctype="multipart/form-data")
						input(type="hidden", name="tintId", value=tint._id)
						input(type="hidden", name="target", value="bsTintBack")
						input.btn.btn-danger(type="submit", value="未完成")
			tr.bg-light
				th 样品型号
				th 染洗厂
				th 颜色
				each size in tint.sizes
					-a;
					th #{Conf.sizes[size]}
				th.bg-secondary
				th 样品型号
				th 染洗厂
				th 颜色
				each size in tint.sizes
					-a;
					th #{Conf.sizes[size]}
			- let i = 0, k = 0;
			each tinsec in tinfir.tinsecs
				- i++;
				tr
					if i==1
						-a;
						th: a(href="/bsProduct/"+tinfir.pdfir._id) #{tinfir.pdfir.code}
						th: a(href="/bsTner/"+tint.tner._id) #{tint.tner.nome}
					else
						th
						th
					th.bg-light #{tinsec.pdsec.color}
					each size in tint.sizes
						-let less = '';
						-let quot = '';
						each tinthd in tinsec.tinthds
							if tinthd.size == size
								- quot = parseInt(tinthd.quot);
								- less = parseInt(tinthd.quot) - parseInt(tinthd.ship);
								- break;
						td 
							if less == 0
								-a;
								span #{quot}
							else
								span.text-info #{quot}
					td.bg-secondary
					if i==1
						-a;
						th: a(href="/bsProduct/"+tinfir.pdfir._id) #{tinfir.pdfir.code}
						th: a(href="/bsTner/"+tint.tner._id) #{tint.tner.nome}
					else
						th
						th
					th.bg-light #{tinsec.pdsec.color}
					each size in tint.sizes
						-let less = '';
						-let ship = '';
						each tinthd in tinsec.tinthds
							if tinthd.size == size
								- ship = parseInt(tinthd.ship);
								- less = parseInt(tinthd.quot) - ship;
								- break;
						td 
							if less == 0
								-a;
								span #{ship}
							else
								span.text-info #{ship}