extends ../../aalayout/layout

block content
	.m-5
		.row
			.col-10
				.row#info
					.col-12: h4 编号: #{fder.code}
					.col-12: h4 名字: #{fder.nome}
					.col-12: h4 电话: #{fder.tel}
				form#editForm(method="post", action="/bsFderUpd", enctype="multipart/form-data", style="display:none")
					input(type="hidden", name="obj[_id]", value=fder._id)
					.form-group.row
						label.col-sm-2.col-form-label(for="iptCode") 编号
						.col-sm-6
							input#iptCode.form-control(type="text", name="obj[code]", value=fder.code, autocomplete="off")
					.form-group.row
						label.col-sm-2.col-form-label(for="iptNome").text-info 名字
						.col-sm-6
							input#iptNome.form-control(type="text", name="obj[nome]", autocomplete="off", value=fder.nome)
						.col-sm-4
							span#optName(style="display:none").text-danger 已经存在！换个名称
					.form-group.row
						label.col-sm-2.col-form-label(for="iptTel").text-info 电话
						.col-sm-6
							input#iptTel.form-control(type="text", name="obj[tel]", autocomplete="off", value=fder.tel)
					.form-group.row
						.col-sm-2
							if fder.machins.length == 0
								-a;
								a.btn.btn-danger(href="/bsFderDel/"+fder._id) 删除
						.col-sm-6
							input.btn.btn-info.btn-block(type="submit" value='提交')
			.col-2
				button.btn.btn-warning#editBtn(type="button") <span class="oi oi-pencil"></span>	
				button.btn.btn-secondary#infoBtn(type="button", style="display:none") <span class="oi oi-x"></span>
		.row.mt-5
			each machin in fder.machins
				- let txtSatus = "text-info";
				if machin.status == 10
					- txtSatus = "text-secondary";
				each macfir in machin.macfirs
					-a;
					table.table.text-center.mt-5(class=txtSatus)
						tr
							th(width="8%") #{moment(machin.ctAt).format('MM/DD/YYYY')}
							th(width="8%") #{moment(machin.fnAt).format('MM/DD/YYYY')}
							th(width="9%") 生产
							th(colspan=machin.sizes.length*2+1)
								.row
									.col-6
										a.btn.btn-link(href="/bsMachin/"+machin._id) #{machin.code}
									.col-6
										if machin.status == 5
											-a;
											span 正在处理...
										else
											span 已经完成
						tr.bg-light
							th 样品型号
							th 工厂名称
							th 颜色
							each size in machin.sizes
								-a;
								th #{Conf.sizes[size]}
							th.bg-secondary(width="2%")
							each size in machin.sizes
								-a;
								th #{Conf.sizes[size]}
						if macfir.pdfir.semi == 1
							-a;
							tr
								th: a(href="/bsProduct/"+macfir.pdfir._id) #{macfir.pdfir.code}
								th #{machin.fder.nome}
								th.bg-light 半成品
								each size in machin.sizes
									-let quot = '';
									each macsez in macfir.macsezs
										if macsez.size == size
											- quot = macsez.quot;
											- break;
									td #{quot}
								td.bg-secondary
								each size in machin.sizes
									-let ship = '';
									each macsez in macfir.macsezs
										if macsez.size == size
											- ship = parseInt(macsez.ship);
											- break;
									td 
										span #{ship}
						else
							- let i = 0, k = 0;
							each macsec in macfir.macsecs
								- i++;
								tr
									if i==1
										-a;
										th: a(href="/bsProduct/"+macfir.pdfir._id) #{macfir.pdfir.code}
										th #{machin.fder.nome}
									else
										th
										th
									th.bg-light #{macsec.pdsec.color}
									each size in machin.sizes
										-let quot = '';
										each macthd in macsec.macthds
											if macthd.size == size
												- quot = macthd.quot;
												- break;
										td #{quot}
									td.bg-secondary
									each size in machin.sizes
										-let ship = '';
										each macthd in macsec.macthds
											if macthd.size == size
												- ship = parseInt(macthd.ship);
												- break;
										td 
											span #{ship}
	script(src="/js/bser/fder/update.js")