extends ../aalayout/layout

block content
	div(style="height:50px")
	.container
	.row.mx-5
		each pdfir in products
			-a;
			.col-sm-2.mt-5
				h2.text-right: a(href="/bsProduct/"+pdfir._id) #{pdfir.code} 
				//- h3 Name:#{pdfir.nome} | Mat:#{pdfir.material} 
				//- img(src=pdfir.photo, width="80%", style="display:none")
			.col-sm-9.mt-5.tblDial(style="display:block")
				table.table
					tr
						td 颜色
						each size in pdfir.sizes
							-a;
							td #{Conf.sizes[size]}
					if pdfir.semi == 1
						-a;
						tr.text-warning
							td 半成品
							each pdsez in pdfir.pdsezs
								- let quotMsez = shipMsez = 0;
								-let quotOthds = shipOthds = 0;
								-let quotTthds = shipTthds = 0;
								-let needTthds = 0;
								each macsez in pdsez.macsezs
									-quotMsez+=parseInt(macsez.quot);
									-shipMsez+=parseInt(macsez.ship);
								each pdthd in pdsez.pdthds
									- let quotOthd = shipOthd = 0;
									- let quotTthd = shipTthd = 0;
									each ordthd in pdthd.ordthds
										- quotOthd += parseInt(ordthd.quot);
										- shipOthd += parseInt(ordthd.ship);
									each tinthd in pdthd.tinthds
										- quotTthd += parseInt(tinthd.quot);
										- shipTthd += parseInt(tinthd.ship);
									- quotTthds += quotTthd;
									- shipTthds += shipTthd;
									- let showThdStock = parseInt(pdthd.stock) + shipTthd - shipOthd;
								- let showSezStock = parseInt(pdsez.stock) + shipMsez - quotTthds;
								- let needMac = needTthds - showSezStock - (quotMsez-shipMsez);
								td #{showSezStock}
					each pdsec in pdfir.pdsecs
						-a;
						tr
							td #{pdsec.color}
							each pdthd in pdsec.pdthds
								- let quotOthd = shipOthd = 0;
								- let quotMthd = shipMthd = 0;
								- let quotTthd = shipTthd = 0;
								each ordthd in pdthd.ordthds
									- quotOthd += parseInt(ordthd.quot);
									- shipOthd += parseInt(ordthd.ship);
								each macthd in pdthd.macthds
									- quotMthd += parseInt(macthd.quot);
									- shipMthd += parseInt(macthd.ship);
								each tinthd in pdthd.tinthds
									- quotTthd += parseInt(tinthd.quot);
									- shipTthd += parseInt(tinthd.ship);
								- let showThdStcok = parseInt(pdthd.stock) + shipMthd + shipTthd - shipOthd;
								td #{showThdStcok}
	.topNav-second.p-1
		.row.pt-1
			.col-1
				button.btn.btn-info.shield(type="button") <span class="oi oi-shield"></span>
			.col-1
				a.btn.btn-warning.btn-block(href="/bsProductAdd") <span class="oi oi-plus"></span>
			.col-5.text-center
			.col-1
				button.btn.btn-default#btnDial(type="button") <span class="oi oi-dial"></span>
			.col-4
				form.ajaxForm
					input.ajaxKey.productcode.form-control(type="text", autocomplete="off")
	script(src="/const/const.js")
	script(src="/js/bser/product/list.js")