extends ../aalayout/layout

block content
	.m-5
		.row
			.col-10
				.row#info
					.col-12: h4 编号: #{tner.code}
					.col-12: h4 名字: #{tner.nome}
					.col-12: h4 电话: #{tner.tel}
				form#editForm(method="post", action="/bsTnerUpd", enctype="multipart/form-data", style="display:none")
					input(type="hidden", name="obj[_id]", value=tner._id)
					.form-group.row
						label.col-sm-2.col-form-label(for="iptCode") 编号
						.col-sm-6
							input#iptCode.form-control(type="text", name="obj[code]", value=tner.code, autocomplete="off")
					.form-group.row
						label.col-sm-2.col-form-label(for="iptNome").text-info 名字
						.col-sm-6
							input#iptNome.form-control(type="text", name="obj[nome]", autocomplete="off", value=tner.nome)
						.col-sm-4
							span#optName(style="display:none").text-danger 已经存在！换个名称
					.form-group.row
						label.col-sm-2.col-form-label(for="iptTel").text-info 电话
						.col-sm-6
							input#iptTel.form-control(type="text", name="obj[tel]", autocomplete="off", value=tner.tel)
					.form-group.row
						.col-sm-2
							if tner.tints.length == 0
								-a;
								a.btn.btn-danger(href="/bsTnerDel/"+tner._id) 删除
						.col-sm-6
							input.btn.btn-info.btn-block(type="submit" value='提交')
			.col-2
				button.btn.btn-warning#editBtn(type="button") <span class="oi oi-pencil"></span>	
				button.btn.btn-secondary#infoBtn(type="button", style="display:none") <span class="oi oi-x"></span>
		hr
		.row
			each tint in tner.tints
				-a;
				each tinfir in tint.tinfirs
					-a;
					table.table.table-border.text-center.mt-4
						tr(class=txtSatus)
							th(width="10%") #{moment(tint.ctAt).format('MM/DD/YYYY')}
							th(width="8%") #{moment(tint.fnAt).format('MM/DD/YYYY')}
							th(width="5%") 生产
							th(colspan=tint.sizes.length, width="25%")
								a.btn.btn-link(href="/bsTint/"+tint._id) #{tint.code}
							th.bg-secondary(width="2%")
							th(colspan=tint.sizes.length)
								.row
									.col-6
									.col-6
										if tint.status == 5
											-a;
											span 正在处理...
										else
											span 已经完成
						tr.bg-light
							th 样品型号
							th 客户名称
							th 颜色
							each size in tint.sizes
								-a;
								th #{Conf.sizes[size]}
							th.bg-secondary
							each size in tint.sizes
								-a;
								th #{Conf.sizes[size]}
						- let i = 0, k = 0;
						each tinsec in tinfir.tinsecs
							- i++;
							tr
								if i==1
									-a;
									th: a(href="/bsProduct/"+tinfir.pdfir._id) #{tinfir.pdfir.code}
									th #{tint.tner.nome}
								else
									th
									th
								th.bg-light #{tinsec.color}
								each size in tint.sizes
									-let quot = '';
									each tinthd in tinsec.tinthds
										if tinthd.size == size
											- quot = tinthd.quot;
											- break;
									td #{quot}
								td.bg-secondary
								each size in tint.sizes
									-let less = '';
									-let stock = '';
									-let ship = '';
									-let tinthdId = '';
									each tinthd in tinsec.tinthds
										if tinthd.size == size
											- tinthdId = tinthd._id;
											- stock = parseInt(tinthd.pdthd.stock);
											- ship = parseInt(tinthd.ship);
											- less = parseInt(tinthd.quot) - ship;
											- break;
									td 
										if tinthdId

											span.text-info #{ship}
	script(src="/js/bser/tner/update.js")