extends ../../aalayout/layout

block content
	.container.mt-5
		.row.bmachin-bottom.mb-4.py-3#optBtn.noprint
			.col-2: h3 #{machin.code}
			.col-2: h3 #{machin.macfirs[0].pdfir.code}
			.col-2: h3 #{machin.macfirs[0].pdfir.nome}
			.col-2: h3 #{machin.fder.nome}
			.col-4.text-right
				if machin.status == 5
					-a;
					span [状态：正在处理 (#{machin.status})]
				else
					span [状态：历史记录 (#{machin.status})]
		.info.infoQuot
			.row
				.col-2
					h2 生产单
				.col-10.text-right #{moment(machin.ctAt).format('YYYY/MM/DD HH:mm:ss')}
			.row.show-colors-quot
			include ./semi/quot
		div.noprint(style="height:100px")
		.info.infoShip
			h2 发货
			.row.show-colors-ship
			include ./semi/ship
		div.noprint(style="height:100px")
		a.noprint.btn.btn-danger(href="/bsMachinDel/"+machin._id) 删除

	script(src="/js/bser/machin/update/upsez.js")