each order in orders
	- let txtSatus = "text-secondary";

	each ordfir in order.ordfirs
		-a;
		table.table.table-bordered.text-center
			tr(class=txtSatus)
				th(width="7%") 订货日期：
				th(width="8%") #{moment(order.ctAt).format('MM/DD/YYYY')}
				th(width="5%") 
				th(colspan=order.sizes.length, width="30%")
					a.btn.btn-link(href="/bsOrder/"+order._id) #{order.code}
				th(width="2%")
				th(width="7%") 发货日期:
				th(width="8%") #{moment(order.fnAt).format('MM/DD/YYYY')}
				th(width="5%") 
				th(colspan=order.sizes.length).text-right
					form(method="post", action="/bsOrdChangeSts", enctype="multipart/form-data")
						input(type="hidden", name="orderId", value=order._id)
						input(type="hidden", name="target", value="bsOrderBack")
						input.btn.btn-danger(type="submit", value="未完成")
			tr.bg-light
				th 样品型号
				th 客户名称
				th 颜色
				each size in order.sizes
					-a;
					th #{Conf.sizes[size]}
				th
				th 样品型号
				th 客户名称
				th 颜色
				each size in order.sizes
					-a;
					th #{Conf.sizes[size]}
			- let i = 0, k = 0;
			each ordsec in ordfir.ordsecs
				- i++;
				tr
					if i==1
						-a;
						th: a.text-danger(href="/bsProduct/"+ordfir.pdfir._id) #{ordfir.pdfir.code}
						th: a.text-danger(href="/bsCter/"+order.cter._id) #{order.cter.nome}
					else
						th
						th
					th.bg-light #{ordsec.color}
					each size in order.sizes
						-let less = '';
						-let quot = '';
						each ordthd in ordsec.ordthds
							if ordthd.size == size
								- quot = parseInt(ordthd.quot);
								- less = parseInt(ordthd.quot) - parseInt(ordthd.ship);
								- break;
						td
							if less == 0
								-a;
								span #{quot}
							else
								span.text-info #{quot}
					td
					if i==1
						-a;
						th: a.text-danger(href="/bsProduct/"+ordfir.pdfir._id) #{ordfir.pdfir.code}
						th: a.text-danger(href="/bsCter/"+order.cter._id) #{order.cter.nome}
					else
						th
						th
					th.bg-light #{ordsec.color}
					each size in order.sizes
						-let less = '';
						-let ship = '';
						each ordthd in ordsec.ordthds
							if ordthd.size == size
								- ship = parseInt(ordthd.ship);
								- less = parseInt(ordthd.quot) - ship;
								- break;
						td 
							if less == 0
								-a;
								span #{ship}
							else
								span.text-info #{ship}