table.table.table-bordered.text-center
	tr(class=textTime)
		th(width="7%") #{moment(order.ctAt).format('MM/DD/YYYY')}
		th.text-dark(width="8%") 发货日期
		th(width="5%") 生产
		th(colspan=order.sizes.length, width="30%")
			a.btn.btn-link(href="/bsOrder/"+order._id) #{order.code}
	tr.bg-light
		th 样品型号
		th 客户名称
		th 颜色
		each size in order.sizes
			-a;
			th #{Conf.sizes[size]}
	form(id="sendForm-"+order._id, method="post", action="/bsOrderSend", enctype="multipart/form-data")
		input(type="hidden", name="obj[orderId]", value=order._id)
		input(type="hidden", name="obj[ordfirId]", value=ordfir._id)
		- let iquot = 0;
		each ordsec in ordfir.ordsecs
			- let pdsec = ordsec.pdsec;
			- iquot++;
			tr
				if iquot==1
					-a;
					th: a(href="/bsProduct/"+ordfir.pdfir._id) #{ordfir.pdfir.code}
					th: a(href="/bsCter/"+order.cter._id) #{order.cter.nome}
				else
					th
					th
				th.bg-light #{ordsec.color}
				each size in order.sizes
					- let taskOrdthd = null;
					- let taskPdthd = null;
					- let showThdStock = '';
					each ordthd in ordsec.ordthds
						if ordthd.size == size
							- taskOrdthd = ordthd;
							- break;
					if taskOrdthd
						- taskPdthd = taskOrdthd.pdthd;
						- showThdStock = parseInt(taskPdthd.stock);
						each ordthd in taskPdthd.ordthds
							- showThdStock -= parseInt(ordthd.ship);
						each macthd in taskPdthd.macthds
							- showThdStock += parseInt(macthd.ship);
						each tinthd in taskPdthd.tinthds
							- showThdStock += parseInt(tinthd.ship);
					else
						each pdthd in pdsec.pdthds
							if pdthd.size == size
								- taskPdthd = pdthd;
								- break;

					if taskOrdthd
						-a;
						td #{taskOrdthd.quot}
					else
						//- td.text-danger #{taskPdthd.stock}
						td