table.table.table-bordered.text-center
	tr(class=textTime)
		th(width="7%") #{moment(order.ctAt).format('MM/DD/YYYY')}
		th.text-dark(width="8%") 发货日期
		th(width="5%") 生产
		th(colspan=order.sizes.length)
			.row
				.col-4.text-right
					button.sendBtn.btn.btn-secondary(type="button", id='sendBtn-'+order._id) 发货
				.col-4.text-right
					form(method="post", action="/bsOrdChangeSts", enctype="multipart/form-data")
						input(type="hidden", name="orderId", value=order._id)
						input(type="hidden", name="target", value="bsOrderFinish")
						input.btn.btn-warning(type="submit", value="完成")
	tr.bg-light
		th 样品型号
		th 客户名称
		th 颜色
		each size in order.sizes
			-a;
			th #{Conf.sizes[size]}
	form(id="sendForm-"+order._id, method="post", action="/bsOrderSend", enctype="multipart/form-data")
		input(type="hidden", name="obj[orderId]", value=order._id)
		input(type="hidden", name="obj[ordfirId]", value=ordfir._id)
		- let iship = 0;
		each ordsec in ordfir.ordsecs
			- let pdsec = ordsec.pdsec;
			- iship++;
			tr
				if iship==1
					-a;
					th: a(href="/bsProduct/"+ordfir.pdfir._id) #{ordfir.pdfir.code}
					th: a(href="/bsCter/"+order.cter._id) #{order.cter.nome}
				else
					th
					th
				th.bg-light #{ordsec.color}
				include ./output/tdBody